@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

/* Optional: Berhenti berjalan saat kursor diarahkan ke barisan teks */
.animate-marquee:hover {
  animation-play-state: paused;
}